body{
    background-color: black;
}

ul,a {
    text-decoration: none;
}

#header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
<<<<<<< HEAD
=======

>>>>>>> 6e1c1760d027d0d32d656001ceb6fe019ad867cd
}

.menu {
    display: flex;
    justify-content: center;
    height: 80px;
    margin: 0 319px;
}

.menu ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    
}

.menu ul li {
    margin-right: 15px;
    align-content: center;
}

.menu a {
    border:solid 1.5px;
    width: 106px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 29px;
<<<<<<< HEAD
=======

>>>>>>> 6e1c1760d027d0d32d656001ceb6fe019ad867cd
    align-content: center;
    color: white;
}

.logo {
    margin: 0 0 0 323px;
    align-content: center;
<<<<<<< HEAD
}

#main .break-main {
    width: 1920px;
    border: solid 2px;
    color: #404040;
=======
>>>>>>> 6e1c1760d027d0d32d656001ceb6fe019ad867cd
}

.section1 {
    display: flex;
    justify-content: space-between;
    margin: 232px 323px 0 321px;
    color: white;
}

.section1 h2{
    font-weight: 700;
    font-size: 60px;
    line-height: 46.2px;
    letter-spacing: 1px;
    height: 57px;
    margin:0 0 0 24px;
    font-style: large;
}

.section1 span {
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
    line-height: 46.2px;
    letter-spacing: 1px;
    margin:0;
}

.section1 p {
    margin:24px 0 48px 25px ;
}

.section1 a{
    border:solid 1px;
    width: 176px;
    height: 100px;
    padding: 16px 33px 16px 33px;
    border-radius: 10px;
    color: white;
    margin-left: 25px;
}

.section2 {
    display: flex;
    flex-direction: row-reverse;
    margin:64px 351px 0 325px;
    color: white;
}

.section2 p {
    margin-bottom: 33px;
}

.section2 a {
    border:solid 1px;
    width: 176px;
    height: 100px;
    padding: 16px 33px 16px 33px;
    border-radius: 10px;
    color: white;
}

.section3 {
    display: flex;
    justify-content: space-between;
    margin: 64px 304px 55px 320px;
    color: white;
<<<<<<< HEAD
    background-image: linear-gradient(to right,#91282F,#330002)
=======
>>>>>>> 6e1c1760d027d0d32d656001ceb6fe019ad867cd
}

.section3 p {
    margin-bottom: 24px;
}

.section3 a {
    border:solid 1px;
    width: 218px;
    height: 46px;
    padding:13px 60px 13px 60px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

#footer {
    background-color: white;
<<<<<<< HEAD
    width: 100%;
=======
    padding-bottom: 1px;
>>>>>>> 6e1c1760d027d0d32d656001ceb6fe019ad867cd
}

#footer img{
    margin-top: 48px;
<<<<<<< HEAD
}

#footer .break-footer1 {
    width: 1310px;
    border: solid 2px;
    color: #A4A4A4;
    margin: 30px 0 14px 0;
}

#footer .break-footer2 {
    width: 1310px;
    border: solid 2px;
    color: #A4A4A4;
    margin-top: 50px;
=======
>>>>>>> 6e1c1760d027d0d32d656001ceb6fe019ad867cd
}

.sobre{
    text-align: center;
    margin: 103px 289px 121px 318px;
}

.politicas{
    display: flex;
    justify-content: space-between;
    margin: 64px 282px 19px 319px;
}

<<<<<<< HEAD
.p-de-privacy{
=======
.politicas .p-de-privacy{
>>>>>>> 6e1c1760d027d0d32d656001ceb6fe019ad867cd
    margin: 0px -600px 0 0;
}
